// Variables

// Grey Scale Palette

$darker-grey   : #212121;
$dark-grey     : #434857;
$grey          : #898D94;
$mid-grey      : #B6c0D1;
$light-grey    : #D2D5DA;
$dusty-grey    : #f3f6fb;
$lighter-grey  : #FAFAFA;
$white         : #FFFFFF;


$brand-primary    : #0451dd;
$brand-secondary  : #6357a5;
$brand-tertiary   : #00407B;

$brand-heading    : #3965B9;

