.button {
    color: $brand-primary;
    border: 1px solid $brand-primary;
    background-color: transparent;
    padding: 11px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    font-weight: $semibold;
    font-family: $secondary-font;
    line-height: 20px;
    @include transition(all 250ms ease-in-out);
    &:hover {
        color: white;
        background-color: $brand-tertiary;
    }
    &:focus {
        color: $brand-primary;
        border: 1px solid $brand-primary;
        background-color: transparent;
    }
}
.link {
    color: $brand-primary;
    text-decoration: underline;
    font-family: $font-medium;
    &:hover {
        color: black;
    }
}